@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background:  #030712 !important;
  padding: 20px;
  min-height: 100vh !important;
  /* max-width: 1300px; */
  /* margin-inline: auto; */
  font-family: "Inter", sans-serif;}



  /* TYPOGRAPHY GENERAL STYLES */

.gr{
  background-image: linear-gradient(to bottom right,#a78bfa ,#6d28d9);

}


.gradientParagraph {
  @apply  space-y-1 bg-gradient-to-br text-xl lg:text-2xl dark:from-white dark:via-gray-300 dark:to-gray-400 bg-clip-text text-gray-700 font-normal dark:text-transparent;
}

h1{
  @apply text-4xl    md:text-5xl   font-medium xl:text-7xl 2xl:text-[5.2rem]
}

h2{
  @apply  scroll-m-20 text-4xl font-semibold tracking-tight dark:text-white
}

h3{
  @apply scroll-m-20 text-xl md:text-2xl font-normal tracking-tight
}

h4{
  @apply text-base md:text-lg font-semibold
}

h5{
  @apply md:text-lg text-base font-medium
}

h6{
  @apply text-lg font-medium 
}

/* INPUTS AND FORM */
input,textarea{
  @apply px-4 py-2 mt-2 rounded-md mb-6 bg-transparent block w-full focus:border-darkPink text-gray-500 font-medium text-sm  border  focus:outline-none  border-accent1
}

.linkHover{
  @apply text-xs mt-6 font-medium w-fit hover:bg-[#17182A] px-4 py-2 rounded-md  block  mb-4
}

.small-title,.text-small-gray,.input,footer li{
  @apply text-sm  font-normal text-gray-400 
}


img{
  cursor: pointer;
}

/* BUTTONS */

.gradient-text {
  background-color: #6b7280e0;

  background-image: linear-gradient(45deg, rgb(255, 255, 255), #9ca3af);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

button{
  @apply text-sm px-4 py-1 text-white duration-200 capitalize font-medium tracking-wide outline-none h-10
} 

/* INPUTS */

.input,.input:disabled{
  @apply  px-4 py-2 mt-2 rounded bg-transparent   focus:outline-none border border-accent1
}




/* helping styles */

table td,table th{
  @apply px-3 py-2 font-normal
}